@model Godius.Shop.Models.Goods

@{
    ViewData["Title"] = $"{Model.Name} 구매";
}

<h3>@Html.Raw($"{Model.Name} 구매")</h3>

<div>
	<hr />
	<table class="table table-bordered">
		<thead>
			<tr class="goods-header">
				<th colspan="2">@Html.Raw($"{Model.SerialCode} {Model.Name}")</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="width:100px">
					@if (!String.IsNullOrEmpty(Model.Image))
					{
						<img src="@Model.Image" alt="@Model.Image" class="img-thumbnail" />
					}
				</td>
				<td>
					@Html.Raw(Model.Description.Replace(Environment.NewLine, "<br />"))
				</td>
			</tr>
		</tbody>
	</table>
	<div class="note-box">
		아래 아이템 목록 중에서 1개를 획득할 수 있습니다. <br />
		각 아이템 별로 획득 확률이 다르니 확인하시기 바랍니다. <br />
		구매는 1 회당 1 개만 가능합니다. <br />
		구매 버튼을 클릭하면 당첨된 아이템을 확인할 수 있습니다. <br />
	</div>
	<hr />
	<div>
		<b>가격 : </b>@Html.DisplayFor(model => model.Price)
	</div>
	<div>
		<br />
	</div>
	<div>
		<form asp-action="Buy">
			@Html.AntiForgeryToken()
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="구매" class="btn btn-primary" />
			<a asp-action="Index" class="btn btn-default">취소</a>
		</form>
	</div>

	<br />
	<br />
	<h4>아이템 목록</h4>
	<hr />
	@foreach (var itemGoods in Model.ItemsGoods.OrderByDescending(IG => IG.Item.Category).ThenBy(IG => IG.Probability).ThenByDescending(IG => IG.Item.Generation))
	{
		<table class="table table-bordered">
			<thead>
				<tr class="goods-header">
					<th colspan="2">@itemGoods.Item.Name</th>
					<th style="text-align: center; width:80px">@itemGoods.Probability %</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2" style="width:70px">
						@if (!String.IsNullOrEmpty(itemGoods.Item.Image))
						{
							<img src="@itemGoods.Item.Image" alt="@itemGoods.Item.Image" class="img-thumbnail" />
						}
					</td>
					<td colspan="2">
						@Html.Raw($"WC {itemGoods.Item.WC} / 무게 {itemGoods.Item.Weight} / 내구력 {itemGoods.Item.Durability}")
					</td>
				</tr>
				<tr>
					<td colspan="2">
						@Html.Raw(itemGoods.Item.Description.Replace(Environment.NewLine, "<br />"))
					</td>
				</tr>
			</tbody>
		</table>
	}
</div>
<div>
    <a asp-action="Index">뒤로</a>
</div>
