@model Godius.Shop.Models.Goods

@{
    ViewData["Title"] = "Buy";
}

<h3>@Html.Raw($"{Model.Name} 구매")</h3>

<div>
	<hr />
	<table class="table table-bordered">
		<thead>
			<tr class="goods-header">
				<th colspan="2">@Html.Raw($"{Model.SerialCode} {Model.Name}")</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td width="10%">
					@if (!String.IsNullOrEmpty(Model.Image))
					{
						<img src="@Model.Image" alt="@Model.Image" class="img-thumbnail" />
					}
				</td>
				<td>
					@Html.Raw(Model.Description.Replace(Environment.NewLine, "<br />"))
				</td>
			</tr>
		</tbody>
	</table>
	<hr />
	<h4>아이템 목록</h4>
	@foreach (var itemGoods in Model.ItemsGoods.OrderByDescending(IG => IG.Item.Category).ThenBy(IG => IG.Probability))
	{
		<table class="table table-bordered">
			<thead>
				<tr class="goods-header">
					<th colspan="2">@itemGoods.Item.Name</th>
					<th width="6.5%">@itemGoods.Probability %</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2" width="7%">
						@if (!String.IsNullOrEmpty(itemGoods.Item.Image))
						{
						<img src="@itemGoods.Item.Image" alt="@itemGoods.Item.Image" class="img-thumbnail" />
						}
					</td>
					<td colspan="2">
						@Html.Raw($"WC {itemGoods.Item.WC} / 무게 {itemGoods.Item.Weight} / 내구력 {itemGoods.Item.Durability}")
					</td>
				</tr>
				<tr>
					<td colspan="2">
						@Html.Raw(itemGoods.Item.Description.Replace(Environment.NewLine, "<br />"))
					</td>
				</tr>
			</tbody>
		</table>
	}
</div>
<div>
    <a asp-action="Index">뒤로</a>
</div>
