@model Godius.Shop.Models.Goods

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Goods</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SerialCode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SerialCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Image)
		</dt>
		<dd>
			@if (!String.IsNullOrEmpty(Model.Image))
			{
			<img src="@Model.Image" class="img-thumbnail" alt="@Model.Image" />
			}
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
