@model Godius.Shop.Models.Goods

@{
	ViewData["Title"] = "상품 삭제";
}

<h2>상품 삭제</h2>

<h3>이 상품을 삭제하시겠습니까?</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SerialCode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SerialCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Image)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Image)
		</dd>
	</dl>

	<form asp-action="DeleteGoods">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="삭제" class="btn btn-default" />
	</form>
	<div>
		<a asp-action="Index">뒤로</a>
	</div>
</div>
