@model Godius.Shop.Models.Goods

@{
	ViewData["Title"] = "상품 상세정보";
}

<h3>상품 상세정보</h3>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SerialCode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SerialCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd>
			@Html.Raw(Model.Description)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Image)
		</dt>
		<dd>
			@if (!String.IsNullOrEmpty(Model.Image))
		{
			<img src="@Model.Image" class="img-thumbnail" alt="@Model.Image" />
	}
		</dd>
	</dl>
</div>
<div>
	<a asp-action="EditGoods" asp-route-id="@Model.Id">수정</a> |
	<a asp-action="DeleteGoods" asp-route-id="@Model.Id">삭제</a> |
	<a asp-action="Index">뒤로</a>
</div>