@model Godius.Shop.Models.GoodsCategory

@{
    ViewData["Title"] = "상품 카테고리 상세정보";
}

<h2>상품 카테고리 상세정보</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SerialCode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SerialCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="EditCategory" asp-route-id="@Model.Id">수정</a> |
	<a asp-action="DeleteCategory" asp-route-id="@Model.Id">삭제</a> |
	<a asp-action="Index">뒤로</a>
</div>