@model ReflectionIT.Mvc.Paging.PagingList<Godius.Shop.Models.Purchase>
@{
	ViewData["Title"] = "구매내역 확인";
	ViewData.AddActivePage(ManageNavPages.PurchaseHistory);
	Model.Action = ManageNavPages.PurchaseHistory;
}

<h4>@ViewData["Title"]</h4>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Goods)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ResultItemGoods)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Goods.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ResultItemGoods.ItemGoods.Item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
			</tr>
		}
	</tbody>
</table>

<nav aria-label="Suppliers navigation example">
	<vc:pager paging-list="@Model" />
</nav>

