@model ReflectionIT.Mvc.Paging.PagingList<Godius.Shop.Models.Purchase>
@{
	ViewData["Title"] = "구매내역 확인";
	ViewData.AddActivePage(ManageNavPages.PurchaseHistory);
	Model.Action = ManageNavPages.PurchaseHistory;
}

<h4>@ViewData["Title"]</h4>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Goods)
			</th>
			<th colspan="2">
				@Html.DisplayNameFor(model => model.ResultItemGoods)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@if (!String.IsNullOrEmpty(item.Goods.Image))
					{
						<img src="@item.Goods.Image" alt="@item.Goods.Image" class="img-thumbnail" />
					}
				</td>
				<td>
				@if (!String.IsNullOrEmpty(item.ResultItemGoods.ItemGoods.Item.Image))
				{
					<img src="@item.ResultItemGoods.ItemGoods.Item.Image" alt="@item.ResultItemGoods.ItemGoods.Item.Image" class="img-thumbnail" />
				}
				</td>
				<td>
					<span>WC @item.ResultItemGoods.ItemGoods.Item.WC</span>
					@if (item.ResultItemGoods.UpgradeOption > 0)
					{
						<span><b> + @item.ResultItemGoods.UpgradeOption</b></span>
					}
					<br/>
					<span>무게 @item.ResultItemGoods.ItemGoods.Item.Weight</span>
					<br />
					<span>내구력 @item.ResultItemGoods.ItemGoods.Item.Durability</span>
					@if (item.ResultItemGoods.UpgradeDurability > 0)
					{
						<span><b> + @(item.ResultItemGoods.ItemGoods.Item.Durability * item.ResultItemGoods.UpgradeDurability)</b></span>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
			</tr>
		}
	</tbody>
</table>

<nav aria-label="Suppliers navigation example">
	<vc:pager paging-list="@Model" />
</nav>

